asgiref==3.4.1
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.8
Django==3.2.9
idna==3.3
PySocks==1.7.1
pytz==2021.3
requests==2.26.0
requests-tor==1.2
sqlparse==0.4.2
stem==1.8.0
urllib3==1.26.7
